
	/* everyone */
body {
	background-image: url("../img/yao-cheng-4.jpg");
	background-size: cover;
}
.intro{
	padding: 12.5% 2.5% 2.5% 2.5%;	
	/*color: #D3E3D8;*/
}
.intro h1.title{
	font-family: "Droid Serif";
	font-size: +5em;
}
h3{
	/*font-family: "Droid Serif";*/
	line-height: 1.5;
}
p{
font-family: "Ubuntu"; 
	line-height: 1.5;
	font-size: 1.5em;
}
section{
	padding: 2.5% 2.5% 2.5% 2.5%;
}
.market-info li{
	    list-style-type: none;
}
.infos-icon{
	text-align: center;
	color:rgb(62,138,204);
}
.footer{
	font-family: "Ubuntu";
	text-align: center;
	color: #gray
}
.modal-title{
	font-family: "Droid Serif";
}
/* mobiles */
	@media (max-width:720px){
		section {
			background-color: rgba(255, 255, 255, .6);
			
		}
	}