body {
	background-image: url("../img/yao-cheng-4.jpg");
	background-size: cover;
}
.intro{
	padding: 12.5% 2.5% 2.5% 2.5%;	
	/*color: #D3E3D8;*/
}
.intro h1.title{
	font-family: "Droid Serif";
	font-size: +5em;
}
p{
font-family: "Ubuntu"; 
	font-size: 1.5em;
}
section{
	padding: 2.5% 2.5% 2.5% 2.5%;
}
.market-info li{
	    list-style-type: none;
}
.infos-icon{
	text-align: center;
	color:darkcyan;
}
.footer{
	font-family: "Ubuntu";
	text-align: center;
	color: #gray
}
.modal-title{
	font-family: "Droid Serif";
}
.modal-body{

}